/*.displayScr {
    height: 100px;
    width: 405px;
    background-color: black;
    color: white;
    text-align: right;
    box-sizing: border-box;
    font-size: 3.5rem;
    padding-top: 4px;

}*/