.number {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    text-align: center;
    box-sizing: border-box;
    font-size: 3rem;
    padding-top: 16px;

}
.numberZero {
    width: 304px;
    height: 100px;
    border: 1px solid grey;
    text-align: center;
    box-sizing: border-box;
    font-size: 3rem;
    padding-top: 16px;
}
.numberButtonFlex1 {
    display: flex;


}
.numberButtonFlex2 {
    display: flex;
}
.numberButtonFlex3 {
    display: flex;
}
.buttonContainer {
    margin-right: -4px;
}
.clearButton {
    width: 304px;
    height: 100px;
    border: 1px solid grey;
    text-align: center;
    box-sizing: border-box;
    font-size: 3rem;
    padding-top: 16px;
    margin-right: -4px;

}
.actionButtonContainer {
    display: flex;
    flex-direction: column;

}
.actionButtonContainer div {
    width: 100px;
    height: 100px;
    border: 1px solid grey;
    text-align: center;
    background-color: maroon;
    color: white;
    font-size: 3rem;
    box-sizing: border-box;
    padding-top: 16px;

}
.clearFlex {
    display: flex;

}
.divide {
    width: 100px; 
    height: 100px;
    border: 1px solid grey;
    text-align: center;
    background-color: maroon;
    color: white;
    font-size: 3rem;
    box-sizing: border-box;
    padding-top: 16px;
}
.displayScr {
    height: 100px;
    width: 400px;
    background-color: black;
    color: white;
    text-align: right;
    box-sizing: border-box;
    font-size: 4rem;
    padding-top: 15px;
    padding-right: 13px;

} 